.card_header {
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #eeae61;
  font-size: 25px;
  font-weight: bold;
  color: var(--white);
}

.header_title {
  flex: 6;
  text-align: center;
}

.icon_left {
  flex: 2;
  text-align: center;
}

.icon_right {
  flex: 2;
  text-align: center;
}

.card_header button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
